.sidebar{
    width: 300px; 
    height: 100%;
    display: inline-block;
    overflow-y: "auto";
    background-color: "#f0f0f0";
} 

.topsidebar{
    margin-top: 10px;
    // margin-left: 18px;
}

.nested{
    padding-left: 80px;
}

#editorWrapper{
    height: 80vh;
    width: 100%;
}
#wrapper{
    width: calc(100% - 300px);
    display: inline-block;
    vertical-align: top;
    padding-top: 20px;
}